* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f7fa;
  color: #222;
}

.header {
  background: black;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  margin-bottom: 25px;
  height: 500px;
}

.card h2 {
  margin-bottom: 20px;
}

.array{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 70px;
}

.explanation  {
  font-size: 14px;
  color: rgba(0,0,0,0.7);
}

.btn {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  transition: 1s ease;
  width: 120px;
  height: 50px;
}


.btn:hover {
  background: #eee;
}

.btn.primary {
  background: black;
  color: white;
  border: none;
  height: 60px;
}

.form {
  margin-bottom: 15px;
  display: flex;  
  flex-direction: column;
}

input, select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.result {
  min-height: 120px;
}

.bottom {
  margin-top: 20px; 
  margin-left: 45px; 
  display: flex; 
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 16px; 
}

.bottom2  {
  display: flex; 
  flex-direction: column;
}

.address  {
  display: flex;
  flex-direction: column;
}

.spotme {
  width: 300px;
  margin-right: 40px;
}